#show-contact {
  display: none;
}
.container {
  background-color: #BEEB9F;
  margin-top: 15px;
  font-family: 'Lobster', cursive;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

ul#addresses {

}
#show-contact {
  background-color: white;
  border-radius: 4px;
  padding-left:11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 2px #FF6138 solid;
  margin-bottom: 15px;
}
h1 {
  text-align: center;
  color: #FF6138;
}

.btn {
  background-color: #79BD8F;
  color: white;
}

body {
  background-color: #FFFF9D;
}

h2 {
  color: #00A388;
}
.contact {
  color: #FF6138;
}
